* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: hsl(240, 15%, 15%);
  color: hsl(0, 0%, 90%);
  padding: 8rem;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  margin-top: 3rem;
}

p {
  text-align: center;
  margin-top: 6rem;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: hsl(17, 91%, 37%);
  font-weight: 700;
  transition: color 200ms ease-in-out;
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -ms-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
}

a:hover {
  color: hsl(0, 0%, 90%);
}

form {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2rem auto;
  padding: 2rem;
  background-color: hsl(250, 11%, 21%);
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

li p {
  margin: 2rem 2rem;
}

label {
  font-size: 2rem;
  margin: 1rem 0;
}

input {
  padding: 1rem;
  width: 30rem;
  font: inherit;
  font-size: 1.25rem;
  font-weight: 700;
}

button {
  width: 30rem;
  margin-top: 2rem;
  border: 0;
  padding: 1rem 1.5rem;
  font: inherit;
  font-weight: 700;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
}

button:hover {
  background-color: hsl(17, 91%, 37%);
  color: hsl(0, 0%, 90%);
}

input.warning {
  background-color: hsl(17, 91%, 37%);
  color: hsl(0, 0%, 90%);
}

span {
  background-color: hsl(0, 0%, 90%);
  display: inline-block;
  width: 6.5rem;
  position: relative;
  text-align: right;
  font-weight: 700;
  padding: 0.5rem 1rem 0.5rem 0;
  color: hsl(240, 15%, 15%);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

#counter {
  background-color: hsl(250, 11%, 21%);
  position: absolute;
  color: hsl(0, 0%, 90%);
  font-weight: 700;
  width: 3rem;
  left: -2px;
  top: 0;
  padding: 0.5rem 0.6rem;
}

#counter.warning {
  background-color: hsl(17, 91%, 37%);
  position: absolute;
  color: hsl(0, 0%, 90%);
  font-weight: 700;
  width: 3rem;
  left: -2px;
  top: 0;
  padding: 0.5rem 0.6rem;
}
